version: "3.5"

services:
  app:
    image: webdevops/php-apache-dev:7.2
    ports:
      - "10010:80"

  db:
    environment:
      MYSQL_DATABASE: db_name
      MYSQL_USER: db_user
      MYSQL_PASSWORD: db_password
      MYSQL_ROOT_PASSWORD: root
    ports:
       - "10011:3306"

  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      depends_on:
          - db
      ports:
          - "10012:80"
      environment:
          MYSQL_ROOT_PASSWORD: root
          PMA_HOST: db
