{% extends 'website/layout.html.twig' %}

{% block title 'Home - ' ~ parent() %}

{% block content %}
    {% include 'website/layout/_banner.html.twig' %}
    <section class="content clearfix">
        <div class="container">
            <div class="row featuredCollection version2 version3">
                <div class="col-md-6 col-12">
                    <div class="slide">
                        <div class="productImage productImage1">
                        </div>
                        <div class="productCaption clearfix text-right">
                            <h3><a href="#">women’s Shoes</a></h3>
                            <p>Lorem ipsum dolor sit ameit</p>
                            <a href="#" class="btn btn-border">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="slide">
                        <div class="productImage productImage2">
                        </div>
                        <div class="productCaption clearfix text-right">
                            <h3><a href="#">Headphone wifi</a></h3>
                            <p>Lorem ipsum dolor sit ameit</p>
                            <a href="#" class="btn btn-border">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ render(controller('App\\Controller\\ProductCategoryController::highlights')) }}

    <div class="modal fade quick-view" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="media flex-wrap">
                        <div class="media-left px-0">
                            <img class="media-object" src="{{ asset('bigbag/img/products/quick-view/quick-view-01.jpg') }}" alt="Image">
                        </div>
                        <div class="media-body">
                            <h2>Old Skool Navy</h2>
                            <h3>$149</h3>
                            <p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
                            <span class="quick-drop">
									<select name="guiest_id3" id="guiest_id3" class="select-drop">
										<option value="0">Size</option>
										<option value="1">Size 1</option>
										<option value="2">Size 2</option>
										<option value="3">Size 3</option>
									</select>
								</span>
                            <span class="quick-drop resizeWidth">
									<select name="guiest_id4" id="guiest_id4" class="select-drop">
										<option value="0">Qty</option>
										<option value="1">Qty 1</option>
										<option value="2">Qty 2</option>
										<option value="3">Qty 3</option>
									</select>
								</span>
                            <div class="btn-area">
                                <a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
