{% spaceless %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %}</title>
        <link href="{{ asset('bigbag/img/favicon.png') }}" rel="shortcut icon">
        {% include 'website/layout/_style.html.twig' %}
    </head>

    <body class="body-wrapper">
        <div class="main-wrapper">
            {% include 'website/layout/_preloader.html.twig' %}
            <div class="header clearfix headerV3">
                {% include 'website/layout/_topbar.html.twig' %}
                {% include 'website/layout/_navtop.html.twig' %}
                {% include 'website/layout/_navbar.html.twig' %}
            </div>

            {% include 'website/layout/_banner.html.twig' %}
            {% block content '' %}

            {% include 'website/layout/_footer.html.twig' %}
            {% include 'website/layout/_copyright.html.twig' %}
        </div>

        {% include 'website/layout/_plugins.html.twig' %}
        <script src="{{ asset('bigbag/js/custom.js') }}"></script>
    </body>
</html>
{% endspaceless %}
