<div class="container">
    <div class="row justify-content-md-end">
        <div class="col-sm-12 ml-auto bannercontainer ">
            <div class="fullscreenbanner-container bannerV4">
                <div class="fullscreenbanner">
                    <ul>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                            <img src="{{ asset('bigbag/img/home/banner-slider/slider-img1.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV4">
                                <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-x="85" data-y="115" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                                    <span>
                                        <small>Winter Offer</small>
                                        <br>
                                        <span>Up To 50% off</span>
                                    </span>
                                </div>

                                <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-x="85" data-y="240" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                                </div>

                                <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-x="85" data-y="300" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span class="page-scroll">
                                        <a href="#" class="btn primary-btn">
                                            <span>Buy Now</span>
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                            <img src="{{ asset('bigbag/img/home/banner-slider/slider-img1.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV4">
                                <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-x="85" data-y="115" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                                    <span>
                                        <small>Winter Offer</small>
                                        <br>
                                        <span>Up To 50% off</span>
                                    </span>
                                </div>

                                <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-x="85" data-y="240" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                                </div>

                                <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-x="85" data-y="300" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span class="page-scroll">
                                        <a href="#" class="btn primary-btn">
                                            <span>Buy Now</span>
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                            <img src="{{ asset('bigbag/img/home/banner-slider/slider-img1.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV4">
                                <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-x="85" data-y="115" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                                    <span>
                                        <small>Winter Offer</small>
                                        <br>
                                        <span>Up To 50% off</span>
                                    </span>
                                </div>

                                <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-x="85" data-y="240" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                                </div>

                                <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-x="85" data-y="300" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                                    <span class="page-scroll">
                                        <a href="#" class="btn primary-btn">
                                            <span>Buy Now</span>
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
