<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <p>&copy; 2017 Copyright Bigbag Store Bootstrap Template by <a target="_blank" href="http://www.iamabdus.com/">Abdus</a>.</p>
            </div>
            <div class="col-md-5 col-12">
                <ul class="list-inline">
                    <li><img src="{{ asset('bigbag/img/home/footer/card1.png') }}" alt=""></li>
                    <li><img src="{{ asset('bigbag/img/home/footer/card2.png') }}" alt=""></li>
                    <li><img src="{{ asset('bigbag/img/home/footer/card3.png') }}" alt=""></li>
                    <li><img src="{{ asset('bigbag/img/home/footer/card4.png') }}" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>
