<nav class="navbar navbar-main navbar-default navbar-expand-md nav-V3">
    <div class="container">
        <div class="nav-category dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Catagory</span>
                <span class="icon-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left">
                {% for category in categories %}
                    <li>
                        <a href="#">
                            <i class="lnr lnr-camera" aria-hidden="true"></i>
                            <span>{{ category.label }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
