<div class="topBar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-12">
                <ul class="list-inline float-right top-right">
                    <li class="account-login">
                        <span>
                            <a data-toggle="modal" href='#signin-modal'>Sign in</a>
                            <small>or</small>
                            <a data-toggle="modal" href='#signup-modal'>Create an account</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">log in</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="signin_email">Enter Email</label>
                        <input type="email" class="form-control" id="signin_email">
                    </div>
                    <div class="form-group">
                        <label for="signin_password">Password</label>
                        <input type="password" class="form-control" id="signin_password">
                    </div>
                    <div class="checkbox">
                        <input class="checkbox-custom form-check-input" id="signin_checkbox_1" type="checkbox" checked>
                        <label for="signin_checkbox_1" class="checkbox-custom-label form-check-label">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">log in</button>
                    <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Create an account</h3>
            </div>
            <div class="modal-body">
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="signup_email">Enter Email</label>
                        <input type="email" class="form-control" id="signup_email">
                    </div>
                    <div class="form-group">
                        <label for="signup_password">Password</label>
                        <input type="password" class="form-control" id="signup_password">
                    </div>
                    <div class="form-group">
                        <label for="signup_password_confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="signup_password_confirm">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    <button type="button" class="btn btn-link btn-block">New User?</button>
                </form>
            </div>
        </div>
    </div>
</div>
