<div class="topBar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-12">
                <ul class="list-inline float-right top-right">
                    <li class="account-login">
                        <span>
                            <a data-toggle="modal" href="#">Sign in</a>
                            <small>or</small>
                            <a data-toggle="modal" href="#">Create an account</a>
                        </span>
                    </li>
                    <li class="dropdown cart-dropdown">
                        <a href="#"><i class="fa fa-shopping-cart"></i>$0</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
