{% macro display(title, elements) %}
    <section class="lightSection clearfix pageHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb float-right">
                        {% for element in elements %}
                            {% if not loop.last %}
                                <li>
                                    <a href="{{ path(element.path) }}">{{ element.label }}</a>
                                </li>
                            {% else %}
                                <li class="active">{{ element.label }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}
